{% extends "index.html" %}
{% block device %}
{% let port = config.serial_port[device_index] %}
<div class="col-lg p-3 justify-content-center">
    <div class="d-inline-block" id="terminal"></div>
</div>

<div class="col-lg p-3">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row" class="text-nowrap">Device</th>
            <td><small>{{ port.serial_device.device }}</small></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Baud rate</th>
            <td><small>{{ port.serial_device.baud_rate }}</small></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Data bits</th>
            <td><small>{{ port.serial_device.serial_params.data_bits }}</small></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Parity</th>
            <td><small>{{ port.serial_device.serial_params.parity }}</small></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Stop bits</th>
            <td><small>{{ port.serial_device.serial_params.stop_bits }}</small></td>
        </tr>
        <tr>
            <th scope="row" class="text-nowrap">Flow control</th>
            <td><small>{{ port.serial_device.serial_params.flow_control }}</small></td>
        </tr>
        </tbody>
    </table>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" value="" id="checkLocalEcho">
        <label class="form-check-label" for="checkLocalEcho">
            Local echo
        </label>
    </div>
    <div class="form-text mb-3">
        Print input locally to the terminal.
    </div>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" value="" id="checkAutoResize">
        <label class="form-check-label" for="checkAutoResize">
            Auto-resize terminal
        </label>
    </div>
    <div class="form-text mb-3">
        Automatically resize terminal to fit screen.
    </div>

    <label class="form-label">Terminal size</label>
    <div class="row g-3 align-items-center">
        <div class="col">
            <label class="visually-hidden" for="numTerminalColumns">Columns</label>
            <input type="number" class="form-control" id="numTerminalColumns" placeholder="80">
        </div>

        <div class="col">
            <label class="visually-hidden" for="numTerminalRows">Rows</label>
            <input type="number" class="form-control" id="numTerminalRows" placeholder="24">
        </div>

        <div class="col-auto">
            <button class="btn btn-primary" type="button" id="btnApplyTerminalSize">Apply</button>
        </div>
    </div>

    <hr>
    <button class="btn btn-primary" type="button">Pop-out</button>
</div>

<link href="/dist/device.css" rel="stylesheet">
<script src="/dist/device.js" type="module"></script>
{% endblock %}
