<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dist/base.css" rel="stylesheet">
    <title>Serri</title>
</head>
<body>
<div class="container-fluid vh-100">
    <div class="d-flex flex-row h-100">
        <div class="pt-3 pb-3 flex-grow-1 d-flex flex-column">
            {% include "terminal.html" %}
        </div>

        <div class="ms-3 pt-3" style="max-width: 357px; min-width: 357px">
            {% let is_popout = true %}
            {% include "terminal_settings.html" %}
        </div>

        {% include "terminal_scripts.html" %}
    </div>
</div>
<script src="/dist/base.js"></script>
</body>
</html>
